@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.leaderboard {
  width: 400px;
  text-align: center;
}

.leaderboard_title {
  font-family: 'Cafe24Ssurround', serif;
  margin-bottom: 5px;
}

.realtimeclock {
  /* font-family: 'NeoDunggeunmoPro-Regular', serif; */
  
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.realtimeclock span {
  margin-right: 5px;
}

.musicnote_gif {
  width: 40px;
  margin-right: 10px;
}

.chart {
  list-style: none;
  padding: 0;
}

.chart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-bottom: 10px;
  font-size: 14px;
}

.ranknum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  width: 40px;
  height: 40px;
  
  border-radius: 50%;
  background-color: #3a3a3a;

  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.song-info {
  min-width: 300px;

  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  
  border-radius: 10px;
  background-color: #eee;

}

.song-title {
  font-weight: bold;
}

.artist-name {
  color: #5c5c5c;
}
