@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular', serif;
}

body {
    width:80%;
    margin: 0 auto;
    background-color: #E3F2C1;
}

a {
    text-decoration: none;
    color: rgb(33, 37, 41);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: palevioletred
}

/* 헤더 */
.header__index {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.header__title {
    font-family: RixYeoljeongdo_Regular, serif;
    color: black;
    margin-right: 50px;

    font-size: 70px;
}

.header__text {
    font-family: DungGeunMo, serif;
    font-size: 36px;

    animation-duration: 2.5s;
    animation-name: rainbowLink;
    animation-iteration-count: infinite;
}

@keyframes rainbowLink {
    0% { color: #d72323; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #62e152; }
    60% { color: #43baf5; }
    75% { color: #131890; }
    90% { color: #8437ff; }
    100% { color: #e816ff; }
  }

.fire_gif {
    width: 50px;
}


/* section: 팀 소개, 음원차트 */
.mid_section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 70px auto;
}

/* 팀 소개 부분 */
.introduce__team {
    width: 60%;
    font-size: 18px;

    margin-right: 50px;
}

.introduce__team--title {
    font-weight: 800;
    margin-bottom: 30px;
}

.introduce__team--description {
    line-height: 2;
}


/* 팀원 소개 카드 */
.main-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members {
    display: flex;
}

.members .card {
    width: 300px;
}

.post {
    width: 464px;

    margin: 50px auto 0px auto;
    padding: 30px 30px 20px 30px;

    box-shadow: 0px 0px 4px 0px;
    border-radius: 8px
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 5px;
}

.btn>button {
    margin-right: 10px
}

.cards {
    width: 700px;
    margin: 60px auto 20px auto;
}

.cards .card {
    margin-bottom: 30px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    padding-bottom: 10px;
}

.card-text {
    font-size: 20px;
    font-weight: 700;
}


/* 방명록 */
.post_title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.post {
    /* width: 700px; */
    margin: 0 auto;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emoji {
    font-size: 12px;
    margin-left: 10px;
}

.blockquote-footer {
    margin-top: 0;
}

/* 푸터 */
.footer__index {
    display: flex;
    flex-direction: column;

    border-top: 1px solid rgba(0, 0, 0, 0.659);

    padding-top: 20px;
    margin-bottom: 50px;

    font-size: 18px;
}

.footer__index h5 {
    font-weight: 700;
}